            <div class="span-4 border white nav">
                <ul>
                    <li><a href="{{ url_for('pages.index') }}">home</a></li>
                    <li><a href="{{ url_for('pages.events') }}">events</a></li>
                    <li><a href="{{ url_for('pages.releases') }}">releases</a></li>
                    <li><a href="{{ url_for('pages.userlist') }}">members</a></li>
                    <li><a href="{{ url_for('pages.zodiac') }}">the zodiac</a></li>
                    <li><a href="{{ url_for('pages.guests') }}">guest page</a></li>
                    {% if user %}
                    <li><a href="{{ url_for('posts.create_post') }}">post some</li>
                  
                    <li><a href="{{ url_for('posts.manage_posts')}}">manage posts</a></li>
                    <li><a href="{{ url_for('users.profile', userId = user.id)}}">profile</a></li>
                    <li><a href="{{ url_for('users.logout') }}">logout</a></li>
                    {% else %}
                    <li><a href="{{ url_for('users.register') }}">register</a></li>
                    <li><a href="{{ url_for('users.login') }}">login</a></li>
                    {% endif %} 
                </ul>
            </div>
