<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>{{ title }}</title>
        <link rel="stylesheet" href="static/css/blueprint/screen.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="static/css/blueprint/print.css" type="text/css" media="print"> 
        <link rel="stylesheet" href="static/css/main_style.css" type="text/css" media="screen">
        <!--[if lt IE 8]>
            <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
        <![endif]-->
    </head>
    <body class="harmony">
        <div class="container ">
            <div class="span-24 white header">
                <a href="{{ url_for('pages.index') }}">
                    <img src="static/images/logo/pizzaLogo960px.png"></a>

            </div>
            
            <div class="span-4 border white nav">
                <ul>
                    <li><a href="/">home</a></li>
                    <li><a href="/events">events</a></li>
                    <li><a href="{{ url_for('pages.releases') }}">releases</a></li>
                    <li><a href="/posts/post">post some</li>
                    {% if user %}
                    <li><a href="/users/logout">logout</a></li>
                    {% else %}
                    <li><a href="/users/register">register</a></li>
                    <li><a href="/users/login">login</a></li>
                    {% endif %} 
                    <li><a href="/guests">guest page</a></li>


                </ul>
                
                
            </div>
            <div class="span-12  white content">

        {% block content %}

        {% endblock %}
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    <blink><h1>{{ message }}<h1></blink>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
            </div>
        </div>
        
        <div id="footer">{% if user %}{{ user.username }}{% endif %}                    
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                    {% endif %}
                    {% endwith %}</div>
    </body>

</html>
