<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/blueprint/screen.css')}}" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="{{url_for('static', filename='css/blueprint/print.css')}}" type="text/css" media="print">  
        <link rel="stylesheet" href="{{url_for('static', filename='css/main_style.css')}}" type="text/css" media="screen">
        <!--[if lt IE 8]>
            <link rel="stylesheet" href="{{url_for('static', filename='css/blueprint/ie.css')}}" type="text/css" media="screen, projection">
        <![endif]-->


        

        
    </head>
    <body class="mainbody" style="background-image:url({{url_for('static', filename='images/bg/under_construction/cons33.gif')}})" >
        <div class="container ">
            <div class="span-24 white header">
                <a href="{{ url_for('pages.index') }}">
                    <img src="{{url_for('static', filename='images/logo/pizzaLogo960px.png')}}"></a>
                    
            </div>
                {% include "nav.html" %}
            

            <div class="span-12  white content">

        {% block content %}

        {% endblock %}
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    <blink><h1>{{ message }}<h1></blink>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}


            </div>
        <div class="span-6">
            {% block headlines %}
            
            {% endblock %}
        </div>
        </div>
        
        <div id="footer">{% if user %}{{ user.username }}{% endif %}                    
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                    {% endif %}
                    {% endwith %}</div>

    </body>

</html>

