.green {
    background-color:green;
    }
.blue {
    background-color:blue;
    }
.red {
    background-color:red;
    }
.yellow {
    background-color:yellow;
    }
.black {
    background-color:black;
    }
    
.white {
    background-color:white;
    }
.mainbody {
    background-image:url(static/images/bg/under_construction/constr77.gif);
    }
    
.nav li{
    list-style-type:none;
    }
.content {
    padding: 20px;
    }
.headlines {
    background-color:cyan;
    
    font-size:16px;
    }

#footer {
        position:fixed;
        bottom:0px;
        height:20px;
        width:100%;
        background-color:white;
    }
{% if user %}
.error {
    background-image:url({{ url_for('static', filename="images/bg/hackers02.gif") }});
    background-color:red;
    }
{% endif %}
    
a {
    text-decoration:none;
    color:green;
    }

